html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #ddd;
  padding: 20px;
}

h1 {
  text-align: center;
  background-color: #3e6feb;
  color: #fff;
  padding: 15px 10px;
  border-radius: 3px;
  width: 700px;
}

h2,
h4,
p {
  margin: 0;
}
.card {
  width: 700px;
  height: 500px;
  background-color: white;
  box-shadow: 2px 5px 7px 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
}

.top-section {
  width: 100%;
  height: 45%;
  padding: 30px;
}

.top-section h2 {
  font-size: 2rem;
  color: #1e5cfa;
  margin-bottom: 20px;
}

.top-section h4 {
  font-size: 1.12rem;
  color: #c75412;
  margin-bottom: 20px;
}

.top-section p {
  color: rgba(53, 46, 46, 0.925);
}

.bottom-section {
  width: 100%;
  height: 55%;
  color: #fff;
  background-color: #3e6feb;
}

.bottom-left-section {
  width: 50%;
  height: 100%;
  background-color: #1e5cfa;
  padding: 30px;
  display: inline-block;
  vertical-align: top;
}

.bottom-left-section h4 {
  font-size: 1.12rem;
  margin-bottom: 30px;
}

.price-container {
  margin-bottom: 25px;
}

.price {
  font-size: 1.8rem;
  font-weight: 900;
  display: inline-block;
  position: relative;
}

.price span {
  font-size: 0.9rem;
  position: absolute;
  top: -2px;
  right: -25px;
}
.price-monthly {
  display: inline-block;
  margin-left: 10px;
  font-size: 01rem;
  position: relative;
  top: -5px;
  right: -10px;
  margin-bottom: 40px;
}

.signup-btn {
  display: inline-block;
  background-color: #c75412;
  color: #fff;
  padding: 15px 10px;
  width: 100%;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}
.bottom-right-section {
  width: 49%;
  height: 100%;
  background-color: #3e6feb;
  padding: 30px;
  display: inline-block;
  vertical-align: top;
}

.bottom-right-section h4 {
  font-size: 1.12rem;
}

ul {
  padding: 0;
  list-style-type: none;
  line-height: 25px;
  font-size: 1.1rem;
}

@media only screen and (max-width: 576px) {
  .card {
    height: auto;
    width: 100%;
  }

  h1 {
    width: 100%;
  }
  .top-section {
    height: auto;
  }

  .top-section h2 {
    font-size: 1rem;
  }

  .top-section p {
    line-height: 25px;
  }
  .bottom-left-section,
  .bottom-right-section {
    width: 100%;
    height: 300px;
    display: block;
  }

  .bottom-left-section {
    padding-top: 45px;
    padding-bottom: 15px;
    text-align: center;
  }

  .bottom-left-section h4 {
    font-size: 1.28rem;
  }

  .bottom-right-section {
    text-align: center;
  }
  .bottom-right-section h4 {
    font-size: 1.3rem;
  }
  ul {
    line-height: 25px;
  }
}
