html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  padding: 0 4px;
}

.card {
  margin: 5px auto;
  border-radius: 5px;
  box-shadow: 2px 5px 7px 2px #333;
}

.top-section {
  min-height: 350px;
  padding: 25px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
}

.top-section h2 {
  color: #161e54;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.6rem;
}

.top-section h4 {
  color: #f16d34;
  font-size: 1.3rem;
}

.top-section p {
  font-size: 1.1rem;
  color: #0a0e30e5;
}

.bottom-section {
  height: 55%;
  width:100%;
  color: #f5f5f5;
}

.bottom-left-section {
  /* width: 100%; */
  width:100%;
  min-height: 300px;
  padding: 25px;
  background-color: #161e54;
  line-height: 32px;
}

.bottom-left-section h4 {
  font-size: 1.3rem;
}

.price-container {
  display: flex;
  gap: 4px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.price {
  font-size: 3rem;
  font-weight: bold;
}

.price-frequency {
  position: relative;
  top: -10px;
}

.bottom-left-section p {
  margin-bottom: 25px;
  font-size: 1.1rem;
}

button {
  border: none;
  width: 100%;
  border-radius: 5px;
  background-color: #f16d34;
  color: #f5f5f5;
  padding: 15px;
  font-size: 1rem;
  margin-top: 40px;
}
.bottom-right-section {
  /* width: 100%; */
  width:100%;
  min-height: 300px;
  padding: 25px;
  background-color: #202a69;
  line-height: 32px;
}

.bottom-right-section h4 {
  font-size: 1.3rem;
}

.bottom-right-section ul{
  font-size: 1rem;
  padding: 0;
  list-style: none;
}

/* Responsive Mechanisms for viewports above 576px  */

@media (min-width: 576px) {
  .bottom-section {
    display: flex;
  }

  .bottom-left-section,
  .bottom-right-section {
    flex: 1;
  }
 
}

